@import 'styles/shared.scss';

.header {
  min-height: 56px;
  background-color: $mainLight-color;
  padding-top: 12px;
  padding-bottom: 12px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: $tablet) {
    padding-left: 25px;
    padding-right: 25px;
  }

  @media screen and (min-width: $desktop) {
    padding-right: 45px;
  }
}

.logo {
  background: url('../../images/logo.svg');
  width: 90px;
  height: 31px;
}

.buttonProfile {
  border: none;
  background-color: transparent;
}

.buttonSnow {
}

.loader {
  display: flex;
  justify-content: center;
}
.localization_icon {
  outline: none;
  border: none;
  background: transparent;
  padding: 0;
  margin-right: 10px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
